*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Whitney-Semibold', sans-serif;
                                                
}

header{
    height: 80px;
    width: 100vw;
    background-color: blue;
    line-height: 80px;
}

.intestazione{
    width: 90%;
    margin: 0 auto;
}

img{
    display: inline-block;
    vertical-align: middle;
}

.accedi{
    float: right;
}

ul{
    display: inline-block;
    margin: 0 150px;
}

ul li{
    display: inline-block;
}

ul li a{
    color: white;
    padding: 0 20px;
    text-decoration: none;
}

ul li a:hover{
    text-decoration: underline;
}

.paragrafo{
    height: 100vh;
    position: relative;
}
.paragrafo.primo{
    background-image: url(img/jumbo.png);
    background-size: cover;
    position: relative;
    background-position: center ;
}
.testo.primo{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.primo h1{
    font-size: 50px;
    margin: 20px;
}
.primo p{
    padding: 20px;
}

.uno{
    padding-top: 10px;
}

.pulsante{
    text-decoration: none;
}

.pulsante:hover{
    color: blue;
}

.download .secondo{
    color: white;
    border-radius: 20px;
    padding: 15px 25px;
    background-color: black;
    font-size: 15px;
}

.download .primo{
    background-color: white;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 15px;
    margin-right: 20px;
}

i{
    vertical-align: middle;
margin-right: 10px;
}

.secondo .immagine{    
    position: absolute;
    top: 10%;
    left: 5%;
}

.quarto .immagine{
    position: absolute;
    top: 10%;
    left: 5%;
}

.testo.secondo{
    position: absolute;
    top: 18%;
    right: 15%;
    width: 310px;
}

p{
    margin-top: 25px;
    line-height: 25px;
}
h1{
    line-height: 45px;
}

.paragrafo.terzo{
    background-color:rgb(236, 236, 236)
}

.terzo .immagine{
    position: absolute;
    top: 10%;
    right: 5%;
}

.terzo .terzo{
    position: absolute;
    top: 18%;
    left: 15%;
    width: 310px;
}

.quarto .quarto{
position: absolute;
top: 18%;
right: 15%;
width: 310px;
}
