*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Whitney-Semibold', sans-serif;
                                                
}

header{
    height: 80px;
    width: 100vw;
    background-color: blue;
    line-height: 80px;
}

.contain{
    margin: 0 auto;
    max-width: 1180px;
}

.logo{
    float: left;
}

.logo a{
    display: inline-block;
}

.logo img{
    vertical-align: middle;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.intestazione::after{
    content:"";
    display: table;
    clear: both;
}

.accedi .pulsante{
    border-radius: 10px ;
    background-color: white;
    color: black;
    text-decoration: none;
}

.pulsante:hover{
    text-decoration: none;
    color: blue;
}

.accedi{
    float: right;
}

nav{
    text-align: center;
    float: left;
    width: calc(100% - 200px);
    color: white;
}

li a{
    color: white;  
    padding: 0 20px; 
}

nav ul li{
    display: inline-block;
}

.paragrafo{
    position: relative;
}

.paragrafo.primo{
    background-image: url(img/jumbo.png);
    background-size: cover;
    position: relative;
    background-position: center ;
    min-height: 546px;
}

.testo.primo{
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.primo h1{
    font-size: 50px;
    margin: 20px;
}

.primo p{
    padding: 20px;
}

.uno{
    padding-top: 10px;
}

.pulsante{
    text-decoration: none;
}

.pulsante:hover{
    color: blue;
}

.download .secondo{
    color: white;
    border-radius: 20px;
    padding: 15px 25px;
    background-color: black;
    font-size: 15px;
}

.download .primo{
    background-color: white;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 15px;
    margin-right: 20px;
}

i{
    vertical-align: middle;
    margin-right: 10px;
}

.secondo .immagine{    
    position: absolute;
    top: 10%;
    left: 5%;
}

.quarto .immagine{
    position: absolute;
    top: 10%;
    left: 5%;
}

.testo.secondo{
    position: absolute;
    top: 18%;
    right: 15%;
    width: 310px;
}

p{
    margin-top: 25px;
    line-height: 25px;
}
h1{
    line-height: 45px;
}

.paragrafo.secondo,.paragrafo.quarto{
    height: 100vh;
}

.paragrafo.terzo,.paragrafo.quinto{
    height: 100vh;
    background-color:rgb(236, 236, 236)
}

.terzo .immagine{
    position: absolute;
    top: 10%;
    right: 5%;
}

.terzo .terzo{
    position: absolute;
    top: 18%;
    left: 15%;
    width: 310px;
}

.quarto .quarto{
    position: absolute;
    top: 18%;
    right: 15%;
    width: 310px;
}

.ultima{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.paragrafo.quinto{
    height: 1000px;
}

.quinto .testo{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-top: 7%;
}

.ultimo .pulsante{
    background-color: lightskyblue;
    color:white;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 15px;
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-50%,-50%);
}


h3{
    margin: 40px 0;
    position: absolute;
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
}

footer{
    height: 1000px;
    background-color: #1e1c1c;
}

.piedipagina{
    width: 80%;
    min-width: 1000px;
    max-width: 1180px;
    padding-top: 100px;
    margin: 0 auto;
}    

.menu{
    float: left;
    width: 28%;
}

.lingua{
    margin-bottom: 20px ;
}

h2{
    margin-bottom: 20px;
}

.lingua img{
    width: 30px;
}

.lingua,.social{    
    color: white;
}

.colonne{
    display: inline-block;
    line-height: 35px;
    margin-bottom: 30px;
}

.colonne div{
    margin:auto;
    float: left;
}
h2,h4,hr{
    color: lightskyblue;
}

.colonne ul li{
    list-style: none;
}

.registrati .pulsante{
    border-radius: 10px ;
    color: black;
    text-decoration: none;
    background-color: lightskyblue;
    padding: 10px;
    margin-top: 30px;
}

.pulsante:hover{
    text-decoration: none;
    color: blue;
}

.registrazione{
    float: right;
}

#bottom{
    margin-top:30px;
}